apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-portal

resources:
- deployment.yaml
- svc.yaml
- sa.yaml

images:
- name: __IMAGE__
  newName: ghcr.io/shotakitazawa/kube-portal
  newTag: latest
- name: ghcr.io/shotakitazawa/kube-portal
  newTag: v0.5.6
